@import "../partials/colors.scss";
@import "partials/variables.scss";

.header {
  display: flex;
  height: 80px;
  background-color: $black;

  h1 {
    margin-left: $desktop-gutter;
    color: white;
    align-self: center;
  }
}
